@using SiBRute.Model.Common
@model IEnumerable<IBikeRoute>


@{
    ViewBag.Title = "Popis ruta";
}

<div class="routes-list text-center">
    <div class="routes-list-header">
        <div class="col-md-1">
            <h4>DULJINA</h4>
        </div>

        <div class="col-md-3">
            <h4>NAZIV</h4>
        </div>

        <div class="col-md-4">
            <h4>MJESTA</h4>
        </div>

        <div class="col-md-2">
            <h4>DATUM</h4>
        </div>

        <div class="col-md-2">
            <h4>AUTOR</h4>
        </div>
    </div>

    <div class="routes-list-items">
        @foreach (var route in Model)
        {
            <a href="#">
                <div class="col-md-1">
                    <h4>~@route.Distance km</h4>
                </div>

                <div class="col-md-3">
                    <h4>@route.Name</h4>
                </div>

                <div class="col-md-4 text-left">
                    <p>@route.Places</p>
                </div>

                <div class="col-md-2">
                    <h4>@route.DateCreated.ToShortDateString()</h4>
                </div>

                <div class="col-md-2">
                    <h4>@route.Author</h4>
                </div>
            </a>

        }
    </div>
</div>



