body {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.navbar {
    background-color: #647e7f;
    border-color: #647e7f;   
    border-radius: 0;  
    margin: 0;  
}

.navbar a {
    color: white;
}

.navbar-collapse ul a:hover {
    
    background-color: transparent;   
    text-decoration: underline;
}

.icon-bar {
    background-color: white;
}

.navbar-nav li a {
    line-height: 50px;
    font-size: 12px;
    font-family: Georgia, Tahoma, Geneva, Verdana, sans-serif;  
    padding-right: 30px;
}

#nav-logo {    
    padding: 0;
}

.li-right {
    padding-left: 100px;
}











footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding: 15px 0; 
    background-color: #647e7f;
    color: white;
}

footer h1, p, a {
    margin: 0;
    padding: 0;
}

footer h1 {
    font-size: 30px;
    font-family: Arial;
    padding: 0;
    margin: 0;
}


.nav-footer {
    clear: both;   
    margin: 0 auto;        
}


.nav-footer li {
    display: inline-block;
    text-decoration: none;    
}

.nav-footer a {
    color: white;
     
    font-family: Georgia, Tahoma, Geneva, Verdana, sans-serif;   
}


/* -RESPONSIVE- */

@media screen and (max-width: 480px) {
    

    #nav-logo {
        margin: 4px 0 4px 30px;          
    }

    #nav-logo img {
        width: 170px;  
        height: 100%;
    }

    .navbar-nav li a {
        line-height: 10px;
        font-size: 12px;
        margin-left: 30px;
    }

    .li-right {
        padding-left: 0px;
    }

    .nav-footer a {
        font-size: 7px;   
        margin: 0 5px 0 5px;        
    }

    footer h1 {
        font-size: 20px;        
    }

    footer p {
        font-size: 6px;
    }

    .nav-footer {        
        padding: 0 0 10px 0;     
    }


}

@media screen and (min-width: 480px) {
    #nav-logo {
        margin: 4px 0 4px 30px;          
    }

    #nav-logo img {
        width: 200px;  
        height: 100%;
    }

    .navbar-nav li a {
        line-height: 10px;
        font-size: 12px;
        margin-left: 30px;
    }

    .li-right {
        padding-left: 0px;
    }

    .nav-footer a {
        font-size: 8px;   
        margin: 0 5px 0 5px;        
    }

    footer h1 {
        font-size: 25px;        
    }

    footer p {
        font-size: 7px;
    }

    .nav-footer {        
        padding: 0 0 10px 0;     
    }
}

@media screen and (min-width: 768px) {
     #nav-logo {
        margin: 4px 0 4px 30px;          
    }

    #nav-logo img {
        width: 100%;
        height: 100%;
    }

    .navbar-nav li a {
        line-height: 50px;
        font-size: 12px;
        margin-left: 0px;
    }

    .li-right {
        padding-left: 30px;
    }

    .nav-footer a {
        font-size: 10px;   
        margin: 0 10px 0 10px;        
    }

    footer h1 {
        font-size: 30px;        
    }

    footer p {
        font-size: 9px;
    }

    .nav-footer {        
        padding: 0 0 12px 0;     
    }
}

@media screen and (min-width: 900px) {
    #nav-logo {
        margin: 4px 0 4px 0px;          
    }   

    .navbar-nav li a {        
        margin-left: 5px;
    }

    .li-right {
        padding-left: 50px;
    }

    .nav-footer a {
        font-size: 12px;   
        margin: 0 10px 0 10px;        
    }

    footer h1 {
        font-size: 32px;        
    }

    footer p {
        font-size: 10px;
    }

    .nav-footer {        
        padding: 0 0 12px 0;     
    }
}

@media screen and (min-width: 1200px) {   

    .navbar-nav li a {        
        margin-left: 10px;
    }

    .li-right {
        padding-left: 100px;
    }    

    .nav-footer {        
        padding: 0 0 15px 0;     
    }
}