body {
    margin: 0;
    padding: 0;
    margin-bottom: 110px;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.under-construction {
   height: 100%;
   width: 100%;  
   vertical-align: middle; 
}

.table {
   margin-top: 30px;
   font-size: 20px;
}

.table thead {
   background-color: rgba(105,105,105,0.6);   
}

.background-light {
   background-color: rgba(0,0,0,0.2);
}

.background-dark {
   background-color: rgba(0,0,0,0.2);
}

.table th {
   margin: 5px 0 5px 0;
}

.table tbody tr:hover {
   background-color: rgba(0,0,0,0.2);
   cursor: pointer;
}



/* -NAVBAR- */

.navbar {
    background-color: #647e7f;
    border-color: #647e7f;   
    border-radius: 0;  
    margin: 0;  
}

.navbar a {
    color: white;
}

.navbar-collapse ul a:hover {
    
    background-color: transparent;   
    text-decoration: underline;
}

.icon-bar {
    background-color: white;
}

.navbar-nav li a {
    line-height: 50px;
    font-size: 12px;
    font-family: Georgia, Tahoma, Geneva, Verdana, sans-serif;  
    padding-right: 30px;
}

#nav-logo {    
    padding: 0;
}

.li-right {
    padding-left: 100px;
}

/* -CONTENT- */

.relative-area img {
    width: 100%;
    height: auto;
    border: solid 1px white;
}

.text-bubble {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    color: white;
    max-width: 45%;
    height: auto;
}

.bubble-bottom-right {
    bottom: 70px;
    right: 40px;
    padding: 10px;
}

.bubble-top-left {
    top: 50px;
    left: 40px;
    padding: 10px;
}

.quotes-area {
    background-color: #647e7f;
    padding: 40px 0;
    color: white;
}

.quotes-area h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;    
}

.quotes-area p {
    padding-top: 10px;    
}

.bottom-images .col-md-4 {
    padding: 0;
    margin: 0;
}

.bottom-images img {
    width: 100%;
    height: auto;
    border: solid 1px white;
    border-right-width: 1px;
    border-left-width: 0px;
}



/* -FOOTER- */

footer {
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100%;    
    padding: 15px 0; 
    background-color: #647e7f;
    color: white;
}

footer h1, p, a {
    margin: 0;
    padding: 0;
}

footer h1 {
    font-size: 30px;
    font-family: Arial;
    padding: 0;
    margin: 0;
}


.nav-footer {
    clear: both;   
    margin: 0 auto;        
}


.nav-footer li {
    display: inline-block;
    text-decoration: none;    
}

.nav-footer a {
    color: white;     
    font-family: Georgia, Tahoma, Geneva, Verdana, sans-serif;   
}




/* -ROUTES LIST - */

.routes-list-header {
    margin-top: 30px;
    
}

.routes-list-header h4 {
    font-size: 15px;
}

.routes-list-items .col-md-1, 
.routes-list-items .col-md-2, 
.routes-list-items .col-md-3,
.routes-list-items .col-md-4 {
    border-top: solid 1px black;
    padding: 0;
    margin: 0;    
}


/* -ROUTE DETAILS- */

.route-details {
    padding: 20px;
    margin-top: 20px;    
}

.route-details-title h1{
    text-decoration: underline;
    font-size: 25px;
    font-weight: 700;
}

.route-details-description {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 700;
}

.route-details-description p {
    padding-top: 7px;
}

.route-details-description-margin {
    margin-top: 30px;
}



/* -GENERAL- */

.relative-area {
    position: relative;
}

.absolute-area {
    position: absolute;
}

.btn-rectangle-flat {
    border-radius: 0;
    border-width: 0px;
    font-weight: 700;    
    background-color: #398f6b;    
    padding: 10px 0 10px 0;
    color: white;
}

.background-blue {
    background-color: blue;
}

.background-green {
    background-color: green;
}

 /* FADE */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  border-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property:  border-color, color, background-color,;
  transition-property:  border-color, color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #e3a36a;
  border-color: black;
  color: white;
}



/* -RESPONSIVE- */

@media screen and (max-width: 480px) {
    
    body {       
        margin-bottom: 85px;
    }

    #nav-logo {
        margin: 4px 0 4px 30px;          
    }

    #nav-logo img {
        width: 170px;  
        height: 100%;
    }

    .navbar-nav li a {
        line-height: 10px;
        font-size: 12px;
        margin-left: 30px;
    }

    .li-right {
        padding-left: 0px;
    }

    footer {       
        height: 85px;       
        padding: 10px 0; 
       
    }

    .nav-footer a {
        font-size: 7px;   
        margin: 0 5px 0 5px;        
    }

    footer h1 {
        font-size: 20px;        
    }

    footer p {
        font-size: 6px;
    }

    .nav-footer {        
        padding: 0 0 10px 0;     
    }

    .text-bubble {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .bubble-bottom-right {
        bottom: 0px;
        right: 0px;
        padding: 3px;
    }

    .bubble-top-left {
        top: 0px;
        left: 0px;
        padding: 3px;
    }

    .text-bubble h1 {
        font-weight: 500;
        padding-bottom: 4px;
        font-size: 15px;
    }

    .text-bubble p {
        font-weight: 500;
        font-size: 10px;
        padding-bottom: 7px;
    }

    .btn-rectangle-flat {
        font-size: 9px;
        left: 50%;
        transform: translate(-50%, 10%);
        position: absolute; 
        bottom: 5px;
        width: 90px;
        padding: 8px 0 8px 0;
    }
    .quotes-area {
        padding: 16px 0;       
    }

    .quotes-area h1 {
        font-size: 13px;
    }

    .quotes-area p {
        padding-top: 6px;
        font-size: 7px;
    }


}

@media screen and (min-width: 480px) and (max-width: 992px) {
     body {       
        margin-bottom: 95px;
    }

    #nav-logo {
        margin: 4px 0 4px 30px;          
    }

    #nav-logo img {
        width: 200px;  
        height: 100%;
    }

    .navbar-nav li a {
        line-height: 10px;
        font-size: 12px;
        margin-left: 30px;
    }

    .li-right {
        padding-left: 0px;
    }

     footer {       
        height: 95px;       
        padding: 10px 0; 
       
    }

    .nav-footer a {
        font-size: 8px;   
        margin: 0 5px 0 5px;        
    }

    footer h1 {
        font-size: 25px;        
    }

    footer p {
        font-size: 7px;
    }

    .nav-footer {        
        padding: 0 0 10px 0;     
    }




    .text-bubble {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .bubble-bottom-right {
        bottom: 0px;
        right: 0px;
        padding: 5px;
    }

    .bubble-top-left {
        top: 0px;
        left: 0px;
        padding: 5px;
    }

    .text-bubble h1 {
        font-weight: 600;
        padding-bottom: 4px;
        font-size: 24px;
    }

    .text-bubble p {
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 7px;
    }

    .btn-rectangle-flat {
        font-size: 15px;
        left: 50%;
        transform: translate(-50%, 10%);
        position: absolute; 
        bottom: 15px;
        width: 120px;
        padding: 8px 0 8px 0;
    }
    .quotes-area {
        padding: 20px 0;       
    }

    .quotes-area h1 {
        font-size: 16px;
    }

    .quotes-area p {
        padding-top: 6px;
        font-size: 10px;
    }
}

@media screen and (min-width: 768px) {
     #nav-logo {
        margin: 4px 0 4px 30px;          
    }

    #nav-logo img {
        width: 100%;
        height: 100%;
    }

    .navbar-nav li a {
        line-height: 50px;
        font-size: 12px;
        margin-left: 0px;
    }

    .li-right {
        padding-left: 30px;
    }

    .nav-footer a {
        font-size: 10px;   
        margin: 0 10px 0 10px;        
    }

    footer h1 {
        font-size: 30px;        
    }

    footer p {
        font-size: 9px;
    }

    .nav-footer {        
        padding: 0 0 12px 0;     
    }



    .text-bubble {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .bubble-bottom-right {
        bottom: 0px;
        right: 0px;
        padding: 15px;
    }

    .bubble-top-left {
        top: 0px;
        left: 0px;
        padding: 15px;
    }

    .text-bubble h1 {
        font-weight: 600;
        padding-bottom: 4px;
        font-size: 32px;
    }

    .text-bubble p {
        font-weight: 600;
        font-size: 23px;
        padding-bottom: 7px;
    }
   
    .quotes-area {
        padding: 20px 0;       
    }

    .quotes-area h1 {
        font-size: 23px;
    }

    .quotes-area p {
        padding-top: 6px;
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    #nav-logo {
        margin: 4px 0 4px 0px;          
    }   

    .navbar-nav li a {        
        margin-left: 5px;
    }

    .li-right {
        padding-left: 50px;
    }

    .nav-footer a {
        font-size: 12px;   
        margin: 0 10px 0 10px;        
    }

    footer h1 {
        font-size: 32px;        
    }

    footer p {
        font-size: 10px;
    }

    .nav-footer {        
        padding: 0 0 12px 0;     
    }



    .text-bubble {
        position: absolute;        
        max-width: 45%;
        height: auto;
    }
    

    .bubble-bottom-right {
        bottom: 40px;
        right: 20px;
        padding: 10px;
    }

    .bubble-top-left {
        top: 40px;
        left: 20px;
        padding: 10px;
    }

    .text-bubble h1 {
        font-weight: 600;
        padding-bottom: 4px;
        font-size: 25px;
    }

    .text-bubble p {
        font-weight: 600;
        font-size: 15px;
        padding-bottom: 17px;
    }

    .btn-rectangle-flat {        
        font-size: 15px;       
        width: 130px;
        padding: 9px 0 9px 0;        
        position: relative;
    }
   
    .quotes-area {
        padding: 30px 0;       
    }

    .quotes-area h1 {
        font-size: 27px;
    }

    .quotes-area p {
        padding-top: 6px;
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {   

    .navbar-nav li a {        
        margin-left: 10px;
    }

    .li-right {
        padding-left: 100px;
    }    

    .nav-footer {        
        padding: 0 0 15px 0;     
    }

     .bubble-bottom-right {
        bottom: 70px;
        right: 40px;
        padding: 10px;
    }

    .bubble-top-left {
        top: 50px;
        left: 40px;
        padding: 10px;
    }

    .text-bubble h1 {       
        font-size: 28px;
        padding-bottom: 15px;
    }

    .text-bubble p {        
        font-size: 20px;
        padding-bottom: 20px;
    }

    .btn-rectangle-flat {       
        font-size: 20px;       
        width: 150px;
        padding: 10px 0 10px 0;       
    }
   
    .quotes-area {        
        padding: 40px 0;        
    }

    .quotes-area h1 {
        font-size: 30px;
    }

    .quotes-area p {
        padding-top: 10px;
        font-size: 17px;
    }
}