
@{
    ViewBag.Title = "Auth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Auth</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
   @Html.EditorForModel()
   <p>
      <button type="submit">Log In</button>
   </p>
}