<div class="relative-area">
    <img src="~/Content/Images/index1.jpg" />

    <div class="text-bubble bubble-bottom-right">
        <h1>Pronađi rute</h1>
        <p>Trebaš ideju za vožnju? Pogledaj neke od ruta u okolici, odaberi nešto za sebe i uživaj u vožnji.</p>

        <a class="btn btn-default btn-rectangle-flat hvr-fade" href="@Url.Action("List", "Routes")">PRETRAŽI</a>
    </div>
</div>

<div class="text-center quotes-area">
    <h1>I thought of that while riding my bicycle.</h1>
    <p>~ Einstein in reference to the Theory of Relativity.</p>
</div>

<div class="relative-area">
    <img src="~/Content/Images/index2.jpg" />

    <div class="text-bubble bubble-top-left">
        <h1>Sudjeluj i ti</h1>
        <p>Znaš za super rutu koju želiš podjeliti sa drugima? Sada možeš i to, samo napiši par riječi, stavi slike i link na kartu ako želiš i svatko će moći vidjeti tvoju rutu.</p>

        <a class="btn btn-default btn-rectangle-flat hvr-fade" href="@Url.Action("New", "Routes")">OBJAVI</a>
    </div>
</div>

<div class="text-center quotes-area">
    <h1>"Nothing compares to the simple pleasure of a bike ride."</h1>
    <p>~ John F. Kennedy</p>
</div>

<div class="bottom-images">
    <div class="col-md-4">
        <img src="~/Content/Images/index3.jpg" />
    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/index4.jpg" />
    </div>

    <div class="col-md-4">
        <img src="~/Content/Images/index5.jpg" />
    </div>
</div>
